<template>
    <q-page>
      <q-card class="row my-card bg-transparent" flat>
        <img src="../statics/pics/preview.svg" class="col-10 no-border-radius">
        <q-card-section class="q-ml-sm q-pa-none flex column text-white streamChat no-border-radius">
          <div class="flex items-center q-ml-sm">
            <img src="../statics/icons/hide.svg" alt="">
            <div class="text-h5 q-ml-xl">Чат:</div>
          </div>
          <div class="q-pt-md q-gutter-y-md q-pl-sm">
            <div class="flex">
              <div class="text-pink-5 text-subtitle2">znahar</div>
              <div class="text-subtitle2">: Lorem ipsum </div>
            </div>

            <div class="flex">
              <div class="text-pink-5 text-subtitle2">znahar</div>
              <div class="text-subtitle2">: Lorem ipsum </div>
            </div>

            <div class="flex">
              <div class="text-pink-5 text-subtitle2">znahar</div>
              <div class="text-subtitle2">: Lorem ipsum </div>
            </div>
          </div>
        </q-card-section>
        <q-card-section class="text-white q-px-none q-mt-sm col-10">
          <div class="q-mt-xs flex">
            <img src="../statics/icons/usericon.svg" style="max-width: 55px; width: 100%" alt="">
            <div class="q-pl-md q-pt-xs">
              <div class="text-h6">chevrolet_1mpaa</div>
              <div class="text-body1">S-Gaming играю турнир BIG CUP FINAL | FACEIT 3k+ ELO | Задержка 120с</div>
            </div>
            <div class="q-gutter-x-sm flex str-icons">
              <img src="../statics/icons/follow.svg" style="max-width: 37px; width: 100%" alt="">
              <img src="../statics/icons/rate.svg" @click="modal = !modal" style="max-width: 37px; width: 100%; cursor: pointer" alt="">
            </div>
          </div>
          <div v-if="modal" class="col-10 q-my-lg">
            <div class="flex">
              <div class="flex column justify-center">
                <div class="text-h5 flex items-center " style="height:50px; width:200px">Харизма:</div>
                <div class="text-h5 flex items-center " style="height:50px; width:200px">Обуродование:</div>
                <div class="text-h5 flex items-center " style="height:50px; width:200px">Адекватность:</div>
                <div class="text-h5 flex items-center " style="height:50px; width:200px">Общительность:</div>
                <div class="text-h5 flex items-center " style="height:50px; width:200px">Голос:</div>
              </div>
              <div>
                <div class="q-gutter-y-md column">
                  <q-rating
                    v-model="ratingModel"
                    size="3.5em"
                    color="green-5"
                    icon="star_border"
                    icon-selected="star"
                  />
                </div>
                <div class="q-gutter-y-md column">
                  <q-rating
                    v-model="ratingModel1"
                    size="3.5em"
                    color="green-5"
                    icon="star_border"
                    icon-selected="star"
                  />
                </div>
                <div class="q-gutter-y-md column">
                  <q-rating
                    v-model="ratingModel2"
                    size="3.5em"
                    color="green-5"
                    icon="star_border"
                    icon-selected="star"
                  />
                </div>
                <div class="q-gutter-y-md column">
                  <q-rating
                    v-model="ratingModel3"
                    size="3.5em"
                    color="green-5"
                    icon="star_border"
                    icon-selected="star"
                  />
                </div>
                <div class="q-gutter-y-md column">
                  <q-rating
                    v-model="ratingModel5"
                    size="3.5em"
                    color="green-5"
                    icon="star_border"
                    icon-selected="star"
                  />
                </div>
              </div>
              <div class="flex column q-ml-lg q-pl-sm justify-center q-gutter-y-sm">
                <q-input v-model="text1" dense outlined dark style="width: 300px;"/>
                <q-input v-model="text2" dense outlined dark/>
                <q-input v-model="text3" dense outlined dark/>
                <q-input v-model="text4" dense outlined dark/>
                <q-input v-model="text5" dense outlined dark/>
              </div>
            </div>
            <q-btn class="q-mt-md bg-primary" style="width: 785px" @click="modal = !modal">Submit</q-btn>
          </div>
          <div class="text-body2 q-mt-sm">Привет, меня зовут Стефан. Проживаю в прекрасном городе Харьков, Украина. Мне 20 лет и большую часть времени стримлю свои игры CS:GO.
            <br>
            <br>
            КОМАНДЫ БОТА:<br>
            !esea !faceit !fanpage !steam !vk !ts !dm !trade !hub<br>
            !cfg !crosshair !res !sens !map !warmup !rank<br>
            !monitor !mouse !keyboard !headphones<br>
            !donate !followtime !uptime !чат<br>
            ЗА ЧТО ВАС МОГУТ ЗАБАНИТЬ НА МОЕМ СТРИМЕ:<br>
            Расизм (Бан 10 минут, навсегда)<br>
            Рекламные ссылки (Навсегда)<br>
            Оскорбления в мою сторону (Бан на неделю, навсегда)<br>
            Дизмораль меня и окружающих меня людей (Бан на 10 минут, неделю, навсегда)<br>
            Оскорбление людей с которыми я общаюсь (Бан на 10 минут, неделю, навсегда)<br>
            Словесная перепалка между 2 или более людьми (Баны на 10 минут)<br>
            Оскорбление модераторов (Бан на 10 минут, неделю)<br>
            Оскорбление музыкального вкуса (Бан на 10 минут)<br>
            Спам (Бан на 10 минут, неделю, навсегда)<br>
            Негативные высказывания в мою сторону на других стримах. (Бан навсегда)<br>
            <br>
            FAQ<br>
            Вопрос: Какое звание в кс?<br>
            Ответ: Глобал, Faceit 10 lvl, Esea A+.<br>
            Вопрос: Добавишь в друзья?<br>
            Ответ: На данный момент в друзья не добавляю.<br>
            Вопрос: Как с тобой поиграть?<br>
            Ответ: Иногда я беру в игру сабов.<br>
            Вопрос: Как познакомился с Сеней?<br>
            Ответ: Жёстко играл, и он заметил меня. Видео-нарезки с его стримов можете посмотреть здесь.<br>
            Вопрос: Сколько стоит твоё железо?<br>
            Ответ: Около 2000$.<br>
            Вопрос: Как ты придумал свой ник?<br>
            Ответ: Мы с братом смотрели сериал "Сверхестественное" и сделали себе ник "Chevrolet Impala". После этого ничего лучшего придумать не получилось, да и узнавали многие именно по этому нику. Вскоре обрезал Chevrolet и осталось 1mpala :)<br>
            Вопрос: Ты живешь один?<br>
            Ответ: Нет, с родителями и братом.<br>
            Вопрос: Часто стримишь?
            Ответ: Каждый день.

          </div>
        </q-card-section>
      </q-card>
    </q-page>
</template>

<script>
export default {
  name: 'viewpage',
  components: {
  },
  data () {
    return {
      modal: false,
      ratingModel: 0,
      ratingModel1: 0,
      ratingModel2: 0,
      ratingModel3: 0,
      ratingModel4: 0,
      ratingModel5: 0,
      text1: null,
      text2: null,
      text3: null,
      text4: null,
      text5: null
    }
  }
}
</script>

<style scoped>
  .streamChat {
    border-left: #9289FF solid 2px;
    max-width: 160px;
    width: 100%;
  }
  .str-icons{
    position: absolute;
    left:805px
  }
</style>
