<template>
  <q-layout view="hHh lpr lFf" class="q-px-xl q-pb-xl" style="background: linear-gradient(180deg, #222225 0%, #222225 0.01%, #0B084C 100%);">

    <q-header class="text-white flex column" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.9375) 0.01%, #000000 0.02%, rgba(255, 255, 255, 0) 100%);">
        <div class="q-mx-xl q-px-xl">
          <div class="q-mx-xl">
            <q-toolbar class="row q-px-none">
              <q-toolbar-title>
                <div class=" text-h4 text-weight-thin">
                  blender
                </div>
              </q-toolbar-title>
              <q-toolbar-title>
                <div class="col-3 flex justify-end q-gutter-x-md">
                  <transition name="fade">
                    <div class="flex" v-if="searchItems">
                      <q-input autofocus dark dense v-model="text" />
                      <q-btn flat dense class="q-ml-md" @click="filterItems = !filterItems"><img src="../statics/icons/params.svg" alt=""></q-btn>
                    </div>
                  </transition>
                  <q-btn icon="search" flat dense @click="searchItems = !searchItems" />
                  <div class="flex items-center"><router-link class="text-white" style="text-decoration: none" to="/results">Популярное</router-link></div>
                  <div class="flex items-center"><router-link class="text-white" style="text-decoration: none" to="/subs">Подписки</router-link></div>
                  <!--            <img src="../statics/icons/usericon.svg" style="width: 100%; max-width: 30px" alt="">-->
                </div>
              </q-toolbar-title>
          </q-toolbar>
          </div>
        </div>
        <transition name="fade">
          <div class="q-px-xl" v-if="filterItems">
            <div class="flex q-px-xl q-mx-xl q-gutter-lg">
              <q-input dense v-model="text" dark v-for="category in categories" :key="category.index" :label="category"/>
              <transition name="fade">
                <div class="flex" v-if="addItems">
                  <q-input dense outlined v-model="newCategory" dark label="Название категории" />
                  <q-btn icon="add" class="q-ml-lg bg-primary" @click="AddCategory(newCategory)"></q-btn>
                </div>
              </transition>
              <q-btn icon="add" flat @click="addItems = !addItems"></q-btn></div>
          </div>
        </transition>
    </q-header>
<!--    <q-drawer-->
<!--      v-model="drawer"-->
<!--      show-if-above-->Популярное
<!--      :width="200"-->
<!--      :breakpoint="500"-->
<!--      bordered-->
<!--      content-class="bg-grey-3"-->
<!--    >-->
<!--      <q-scroll-area class="fit">-->
<!--        <q-expansion-item-->
<!--          dense-->
<!--          dense-toggle-->
<!--          expand-separator-->
<!--          label="Подписки"-->
<!--        >-->
<!--          <q-card class="flex column bg-grey-3" v-for="channel in channels" :key="channel.id">-->
<!--            <q-card-section>-->
<!--              {{channel.author}}-->
<!--            </q-card-section>-->
<!--          </q-card>-->
<!--        </q-expansion-item>-->
<!--      </q-scroll-area>-->
<!--    </q-drawer>-->

    <q-page-container class="q-px-xl q-mx-xl">
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  data () {
    return {
      newCategory: null,
      left: false,
      searchItems: false,
      filterItems: false,
      addItems: false
    }
  },
  computed: {
    ...mapGetters({
      categories: 'categories/categories'
    })
  },
  methods: {
    ...mapActions({
      addCat: 'categories/addCategory'
    }),
    AddCategory (item) {
      this.addCat(item)
    }
  }
}
</script>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
</style>
